<footer>
    <div>© <%= new Date().getFullYear() %> - <%= config.author %> <% if (config.license) { %> , <%= config.license %> <% } %></div>
    <div>
        <span>
            Powered by <a href="<%= config.url %>"><%= config.title %></a>
        </span>
    </div>
</footer>
